.header {
  background-color: var(--gray-800);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2rem;
}

.header img {
  height: 3rem;
}

.navbar>ul {
  display: flex;
  text-decoration: none;
  gap: 1rem;
}

.navbar>ul>li {
  text-decoration: none;
  list-style: none;
}

.navbar>ul>li>a {
  font-size: .875rem;
  color: var(--gray-100);
  text-decoration: none;
}