.wrapper {
  width: 100vw;
  display: grid;
  grid-template-columns: 15rem 1fr;
  justify-content: center;
  padding: 2rem 10rem;
  gap: 2rem;
  align-items: flex-start;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}